In [15]:
import os
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [16]:
df_iter = pd.read_csv("../yellow_tripdata_2021-07.csv", iterator=True, chunksize=100000,usecols=range(0,18))
df = next(df_iter)
df.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-07-01 00:08:51,2021-07-01 00:13:05,1,0.8,1,N,90,68,1,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
1,1,2021-07-01 00:22:39,2021-07-01 00:25:58,1,0.9,1,N,113,90,2,5.0,3.0,0.5,0.00,0.0,0.3,8.80,2.5
2,1,2021-07-01 00:48:33,2021-07-01 00:54:58,1,2.8,1,N,88,232,2,10.0,3.0,0.5,0.00,0.0,0.3,13.80,2.5
3,1,2021-07-01 00:59:44,2021-07-01 01:07:09,1,1.4,1,N,79,249,1,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
4,1,2021-07-01 00:08:35,2021-07-01 00:16:28,0,2.0,1,N,142,238,1,8.5,3.0,0.5,0.00,0.0,0.3,12.30,2.5
5,1,2021-07-01 00:10:49,2021-07-01 00:18:42,1,1.6,1,N,114,90,1,7.5,3.0,0.5,1.50,0.0,0.3,12.80,2.5
6,1,2021-07-01 00:28:56,2021-07-01 00:36:11,1,1.8,1,N,90,144,1,7.5,3.0,0.5,2.00,0.0,0.3,13.30,2.5
7,1,2021-07-01 00:45:10,2021-07-01 00:52:46,1,2.0,1,N,114,48,1,8.5,3.0,0.5,2.45,0.0,0.3,14.75,2.5
8,1,2021-07-01 00:55:43,2021-07-01 01:10:56,1,5.7,1,N,48,152,2,18.5,3.0,0.5,0.00,0.0,0.3,22.30,2.5
9,1,2021-07-01 00:04:24,2021-07-01 00:13:23,1,1.8,1,N,234,148,1,8.5,3.0,0.5,2.45,0.0,0.3,14.75,2.5

In [17]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime, utc=True)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime, utc=True)

In [18]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [19]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_trips",con=engine))

CREATE TABLE yellow_taxi_trips (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITH TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITH TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [20]:
df.head(n=0).to_sql(name="yellow_taxi_trips", con=engine, if_exists='replace')

In [21]:
%time df.to_sql(name="yellow_taxi_trips", con=engine, if_exists='append')

CPU times: user 4.88 s, sys: 147 ms, total: 5.03 s
Wall time: 12.3 s

In [22]:
while True:

    try:
        starttime = time()
        df = next(df_iter)

        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

        df.to_sql(name="yellow_taxi_trips", con=engine, if_exists='append')

        endtime = time()
        print(f"time difference is: ",(endtime - starttime))

    except StopIteration:
        print("Finished ingesting data into the postgres database")
        break

time difference is:  12.649432182312012
time difference is:  12.958309173583984
time difference is:  12.727807998657227
time difference is:  12.788192987442017
time difference is:  13.213244915008545
time difference is:  13.66907024383545
time difference is:  15.05754804611206
time difference is:  14.374388933181763
time difference is:  13.925505876541138
time difference is:  14.274587154388428
time difference is:  16.641674041748047
time difference is:  14.424292087554932
time difference is:  13.484461784362793
time difference is:  18.514257192611694
time difference is:  19.182207107543945
time difference is:  15.421720027923584
time difference is:  13.60049295425415
time difference is:  13.76807188987732
time difference is:  18.949356079101562
time difference is:  16.05543828010559
time difference is:  14.120789766311646
time difference is:  14.511868953704834
time difference is:  24.669108152389526
time difference is:  15.854995965957642
time difference is:  23.676934242248535

/Users/davidakuma/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3364: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

time difference is:  18.18217706680298
time difference is:  13.021720170974731
time difference is:  2.9603989124298096
Finished ingesting data into the postgres database

In [29]:
query = """
SELECT *    
FROM pg_catalog.pg_tables 
WHERE schemaname != 'pg_catalog' AND 
schemaname != 'information'"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_trips,root,None,True,False,False,False
1,public,zones,root,None,True,False,False,False
2,information_schema,sql_parts,root,None,False,False,False,False
3,information_schema,sql_implementation_info,root,None,False,False,False,False
4,information_schema,sql_features,root,None,False,False,False,False
5,information_schema,sql_sizing,root,None,False,False,False,False

In [24]:
query = """
SELECT *    
FROM yellow_taxi_trips limit 10"""

pd.read_sql(query, con=engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,11520,1,2021-07-01 08:20:53+00:00,2021-07-01 08:33:18+00:00,1,2.50,1,N,142,164,1,11.0,2.5,0.5,2.86,0.0,0.3,17.16,2.5
1,11521,1,2021-07-01 08:45:09+00:00,2021-07-01 09:03:58+00:00,1,2.70,1,N,100,140,2,14.0,2.5,0.5,0.00,0.0,0.3,17.30,2.5
2,11522,1,2021-07-01 08:25:45+00:00,2021-07-01 08:43:58+00:00,2,2.60,1,N,233,246,2,13.5,2.5,0.5,0.00,0.0,0.3,16.80,2.5
3,11523,1,2021-07-01 08:45:36+00:00,2021-07-01 09:22:23+00:00,1,4.70,1,N,246,140,1,25.0,2.5,0.5,2.50,0.0,0.3,30.80,2.5
4,11524,2,2021-07-01 08:32:08+00:00,2021-07-01 08:52:47+00:00,1,2.41,1,N,233,263,1,14.0,0.0,0.5,2.60,0.0,0.3,19.90,2.5
5,11525,2,2021-07-01 08:53:06+00:00,2021-07-01 08:56:27+00:00,1,0.42,1,N,263,236,1,4.0,0.0,0.5,1.46,0.0,0.3,8.76,2.5
6,11526,2,2021-07-01 08:00:02+00:00,2021-07-01 08:12:31+00:00,2,1.82,1,N,100,107,1,9.5,0.0,0.5,2.56,0.0,0.3,15.36,2.5
7,11527,2,2021-07-01 08:14:35+00:00,2021-07-01 08:24:11+00:00,2,1.26,1,N,137,233,2,8.0,0.0,0.5,0.00,0.0,0.3,11.30,2.5
8,11528,2,2021-07-01 08:36:06+00:00,2021-07-01 08:47:57+00:00,2,1.37,1,N,100,170,1,9.0,0.0,0.5,2.46,0.0,0.3,14.76,2.5
9,11529,2,2021-07-01 08:55:07+00:00,2021-07-01 09:06:30+00:00,2,1.75,1,N,164,79,1,9.5,0.0,0.5,3.20,0.0,0.3,16.00,2.5

In [25]:
query = """
SELECT count(1)   
FROM yellow_taxi_trips"""

pd.read_sql(query, con=engine)

     count
0  2821515

In [26]:
df_zones

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

 ### SQL Revision

In [27]:
df_zones = pd.read_csv("../taxi+_zone_lookup.csv")
df_zones.head(5)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [28]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')